<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kindred</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/styles.css">
  
</head>

<body class="bg-dark">
    <!-- Header -->
    <header>
        <nav class="navbar sticky-top navbar-dark bg-dark">
            <div class="container bg-dark">
                <a class="navbar-brand kindred-logo" href=""><img height="20rem" src="assets/images/logo.png" /></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto overflow-auto" id="menu_container">
                        <li class="nav-item" style="display:none;"><a class="nav-link nav_add_new" href="#">Add New Rep / Rep Summer</a></li>
                        <li class="nav-item"><a class="nav-link nav_daily_quiz" href="#">Daily Mini Quiz</a></li>
                        <li class="nav-item"><a class="nav-link nav_tech_test" href="#">Tech Test</a></li>
                        <li class="nav-item"><a class="nav-link nav_submit_notice" href="#">Submit 2 Weeks Notice</a></li>
                        <li class="nav-item"><a class="nav-link nav_tech_manual" href="#">Tech Manual</a></li>
                        <li class="nav-item"><a class="nav-link nav_update_password" href="#">PestRoutes PW Recovery</a></li>
                        <li class="nav-item"><a class="nav-link" href="login.html">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
                 
    <div class="container pt-4" id="app">
        

        <div class="loading text-center py-5" v-show="allTeams.length == 0">
            <img src="./assets/images/loading.gif" alt="Loading..." height="50">
        </div>

        <div class="mb-5" v-for="(team, index) in allTeams">
            <h4 class="text-white">{{team}}</h4>

            <table class="table table-sm table-dark table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="" v-for="(emp, i) in allEmployees[team]">
                        <td class="px-2">{{emp.fields['Name']}}</td>
                        <td class="px-2 ">{{emp.fields['Email']}}</td>
                        <!-- <td class="px-2 text-center"><a v-show="team == 'Techs'" v-bind:href="emp.fields['Training App']['url']" target="_blank" class="btn btn-sm btn-secondary">Training App</a></td> -->
                        <td class="px-2 text-center"><a v-show="team == 'Techs'" href="tasks.html"  class="btn btn-sm btn-secondary">Training App</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    

    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    app_id:"appy2wb0mLlSBqFjj",
                    app_key:"keyM7E4FM1zHFbQsw",
                    allEmployees: [],
                    allTeams: []
                }
            },
            mounted: function(){
                if(localStorage.getItem("user") == null || localStorage.getItem("user") == undefined){
                    window.location.href = "login.html"
                }
                this.loadAllEmployees(); 
            },
            methods: {
                loadAllEmployees: function(){
                    
                    // Init variables
                    var self = this
                    var tableName = "Employee";
                    
                    axios.get(`https://api.airtable.com/v0/${this.app_id}/${tableName}`,
                    { 
                        params: { view: "Grid view" },
                        headers: { Authorization: "Bearer "+this.app_key } 
                    }).then(function(response){
                        
                        var data = response.data.records;

                        var groupBy = function(xs) {
                            return xs.reduce(function(rv, x) {
                                (rv[x.fields['Team']] = rv[x.fields['Team']] || []).push(x);

                                if(self.allTeams.indexOf(x.fields['Team']) == -1){
                                    self.allTeams.push(x.fields['Team'])
                                }

                                return rv;
                            }, {});
                        };

                        self.allEmployees = groupBy(data);
                        console.log(self.allEmployees);


                    }).catch(function(error){
                        console.log(error)
                    })
                }
            }
        })
    </script>
</body>
</html>