/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html,body{font-size: 14px;width: 100%;min-height: 100%;background: #121212;font-family: 'Roboto', sans-serif;}

#nav button {text-decoration: none;}

a[type="button"] {-webkit-appearance: none;-moz-appearance: none;appearance: none;}

.header:disabled {color: #303030 !important;font-weight: bold;}

.bd-placeholder-img {font-size: 1.125rem;text-anchor: middle;-webkit-user-select: none;-moz-user-select: none;user-select: none;}

.bg-dark {background-color: #303030 !important;}

@media only screen and (max-width: 375px) {
.btn-sm {font-size: 0.5rem;}
}

@media only screen and (max-width: 768px) {
.btn-sm {font-size: 0.7rem;}
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {font-size: 3.5rem;}
}


body {background-color: #303030 !important;}


.btn {margin: 5px;text-align: center;display: inline-block;text-overflow: ellipsis;border-radius: 10px;}


.btn-outline {background-color: transparent;color: inherit;transition: all 0.5s;}

.btn-wrap-text {overflow: hidden;white-space: nowrap;display: inline-block;text-overflow: ellipsis;}


.centered {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}


.btn-purple {color: #fff;background-color: #800080;border-color: #800080;}

.btn-maroon {color: #fff;background-color: #800000;border-color: #800000;}
#login .btn {margin: 1px;}
.resetPasswordTitle{font-size: 25px;}
#resetPasswordForm{padding: 20px;margin: 20px;} */

#iframe {text-align: center;}
a, h5 {color: white;}

.form-control-file {color: white;}
.row, .col {text-align: center;}

#task p,#task h1 {color: #f8f9fa;}
#task_line_4,#task_line_5 {text-align: justify;}
#form_upload {color: white;}

#password_recovery,#nav,#task,#external,#customername_input {display: none;}

.btn {margin: 5px;text-align: center;display: inline-block;text-overflow: ellipsis;}

.table th {font-size:15px;}
.table td {font-size:13px; vertical-align: middle;}
.table td .btn{font-size:13px;}

@media (min-width:1200px){
    .table th:nth-child(1){width:40%;}
    .table th:nth-child(2){width:35%;}
    .table th:nth-child(3){width:25%;}
}


@media only screen and (max-width: 390px) {
    .embed-responsive {height: 800px !important;}
}

@media only screen and (max-width: 820px) {
    .embed-responsive {height: 1300px !important;}
}